@charset "UTF-8";

/*Page d'index*/

:root {
	--banniere: rgb(70, 180, 230);
	--fond: #f8f9fa;
	--text: black;
	--links: goldenrod;
	--links-hover: darkgoldenrod;
	--items-background: white;
	--items-border: black;
	--items-shadow: rgba(0, 0, 0, 0.4);
	--button: lightskyblue;
	--button-hover: orange;
	--darkmode-button: black;
	--darkmode-button-text: white;
	--search-button: rgb(70, 180, 230);
}

.darkmode {
	--banniere: rgb(30,30,30);
	--fond: rgb(70,70,70);
	--text: white;
	--links-hover: gold;
	--items-background: rgb(30, 30, 30);
	--items-border: darkgoldenrod;
	--items-shadow: rgba(184, 134, 11, 0.4);
	--darkmode-button: rgb(170, 170, 170);
	--darkmode-button-text: black;
	--search-button: white;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: var(--fond);
  color: var(--text);
  text-align: center;
}

a {
	color: var(--links);
	
	&:hover{
		color: var(--links-hover);
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--banniere);		
	padding: 20px 50px;			
}

header a {
	color: white;
	text-decoration: none;
	margin: 10px;
	
}

#nav-title {
	margin-right: auto;
	font-size: 1.1em;
	
	img {
		width: 50px;
	}	
}



h2 {	
	text-align: center;
}


/* ------ page de connexion -------*/

form {
	display: flex ;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 30px;
	width: 60%;
	margin: auto;
	label {
		text-align: left;
	
	}
}

.middlebutton {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 75px;	
	}
	
.souvenir{
	display: flex;
	justify-content: center;
}	

.lien-mdp {
	float: right;	
}

.downbutton {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom-width: 100px;
	padding:20px;
	margin: 20px;
}

button{
	padding: 5px 10px;
	background-color: var(--button);
	border: none;
	border-radius: 10px;
	
	&:hover {
		background-color: var(--button-hover);
	}
}

#darkmode {
	background-color: var(--darkmode-button);
	color: var(--darkmode-button-text);
	
	&:hover {
		background-color: var(--button-hover);
	}
}

.form-buttons{
	display: flex;
	justify-content:space-around;
	padding: 20px;
	margin: 50px;
	height:70;
}

.credit {
	text-align: center;
	margin-right: 150px;
}



	