@charset "UTF-8";

/* Barre de filtres */
.barre-filtre-f {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(177, 221, 242);
	width: 100%;
	padding: 10px 0 0 0;
	margin-bottom: 20px;
}

/* Menu déroulant */
.dropdown-container {
	position: relative;
	background-color: white;
	border: 1px solid rgb(200, 200, 230);
	border-radius: 5px 5px 0 0;
	padding: 5px;
	z-index: 20;
}

.dropdown {
	position: absolute;
	left: -1px;
	top: calc(100% - 1px);
	display: flex;
	flex-direction: column;
	list-style-type: none;
	min-width: 100%;
	width: max-content;
	text-align: left;
	background-color: white;
	border: 1px solid rgb(200, 200, 230);
	border-radius: 0 5px 5px 5px;
	margin: 0;
	padding: 10px 5px;
	z-index: 19;
}

.hidden {
	display: none;
}

/* Articles */
.articles {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	
	.item-container {
		width: 30%;
		min-height: 300px;
		border: 2px solid black;
		border-radius: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		text-align: justify;
		padding: 10px;
		overflow: hidden;
		margin-bottom: 20px;
		box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);
		
		h3 {
			text-decoration : underline;
			font-size: 1em;
			margin: 0;
		}
		
		.photo-article {
			width: 30%;
			text-align: center;
			
			a, img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: contain;
			}
		}
		
		.description-article {
			width: 60%;
			height: 100%;
			font-weight: bold;
			
			h3 {
				margin: 0;
			}
			
			.orange {
				color: orange;
			}
			
			.red {
				color: red;
			}
		}
	}
}

/* Responsive - Tablettes */
@media (max-width: 1024px) {
	.articles .item-container {
		width: 45%;
	}
}

/* Responsive - Smartphones */
@media (max-width: 600px) {
	.barre-filtre-f {
		flex-direction: column;
		gap: 10px;
	}
	.articles {
		width: 95%;
	}
	.articles .item-container {
		width: 100%;
		flex-direction: column;
		text-align: center;
	}
	.articles .item-container img {
		width: 60%;
		height: auto;
		margin-bottom: 10px;
	}
	.articles .item-container div {
		width: 100%;
	}
}