<!DOCTYPE html>
<html>
<head th:insert="~{fragments/fragment-head :: head}">
<title>ENI Connexion</title>
</head>
<body>
	<header th:fragment="header">
		<h1 id="nav-title">
			<a th:href="@{/}">ENI-Enchères</a>
		</h1>
	</header>

	<h2>Connexion</h2>

	<form class="formulaire" th:action="@{/connexion}" method="post">
		<label for="name">Identifiant :</label>
		<br />
		<input type="text" id="name" name="pseudo" placeholder="votre identifiant" minlength="3"/>
		<div th:if="${error== 1}">
			<p style="color:red;">Mauvais utilisateur ou mots de passe !</p>
		</div>
		<br />

		<label for="password">
			Mot de passe :
			<span class="lien-mdp">
				<a th:href="@{/inscription}">Mot de passe oublié</a>
			</span>
		</label>
		<br />
		<input type="password" id="password" name="motDePasse" /><br />

		<div class="souvenir">
			<input type="checkbox" id="checkbox" name="connexion" value="checkbox" />
			<label for="checkbox">Se souvenir de moi</label>
					
		</div>

		<button class="button" type="submit">Connexion</button>
	</form>

<div class="downbutton">
		<form th:action="@{/inscription}" method="get">
			<button type="submit">Création de compte</button>
		</form>
	</div>
</body>
</html>



