<!DOCTYPE html>
<html>
<head>
	<th:block th:replace="~{fragments/fragment-head :: head}"></th:block>
	<link rel="stylesheet" th:href="@{/css/connexion.css}" />
	<title>ENI Connexion</title>
</head>
<body>
	<header th:fragment="header">
		<h1 id="nav-title">
			<a th:href="@{/}"><img src="/images/logo-encheres.png" alt="logo eni enchères"> - Enchères</a>
		</h1>
		<button id="darkmode">Dark</button>
	</header>
	<h2>Connexion</h2>

	<form  th:action="@{/login}" method="post">
		<input type="text"  name="username" placeholder="votre identifiant" minlength="3" required/>
		<input type="password"  name="password" required /><br />
		<button type="submit">Connexion</button>
	</form>

	<div th:if="${param.error}">
		<p style="color:red;">Identifiants invalides. Veuillez réessayer.</p>
	</div>




<div class="downbutton">
		<form th:action="@{/inscription}" method="get">
			<button type="submit">Création de compte</button>
		</form>
	</div>
</body>
</html>



