<!DOCTYPE html>
<html>
<head th:insert="~{fragments/fragment-head :: head}">
<title>ENI Enchères</title>
</head>
<body>
	<header th:replace="~{fragments/fragment-header :: header}"></header>
	<main>
		<h2>Liste des enchères</h2>
		
		<!--
		<div class="barre-filtre">
			<form th:action="@{/encheres/rechercher}" method="post">
				<label for="filtres">Filtres :</label>
				<input type="text" th:field="*{}" id="filtres" placeholder="Le nom de l'article contient">
				
				<label for="categories">Catégorie :</label>
				<select th:field="*{categories}" id="categories">
					<option th:each="c : ${categoriesEnSession}" th:text="c.libelle" th:value="c.id"></option>
				</select>
				
				<li th:if="${membreEnSession eq null}">
					<a th:href="@{/inscription}">S'inscrire</a>
				</li>
				
				<button type="submit">Rechercher</button>
			</form>
		</div>
		
		<ul class="articles">
			<li th:each="{e : ${encheres}">
				<div class="item-container">
					<img th:src="${e.src}" alt="${e.nomArticle}">
					<p th:text="${e.nomArticle}"></p>
					<p th:text="${e.description}"></p>
					<p th:text="Vendeur : ${e.utilisateur}"></p>
				</div>
			</li>
		</ul>
		-->
		
			<form th:action="@{/encheres/rechercher}" method="post" class="barre-filtre-f">
				<label for="filtres">Filtres :</label>
				<input type="text" name="filtrer" id="filtres" placeholder="Le nom de l'article contient">
			
				<label for="categories">Catégorie :</label>
				<select name="categories" id="categories">
					<option value="1">Toutes</option>
					<option value="2">Informatique</option>
					<option value="3">Ameublement</option>
					<option value="4">Vêtement</option>
					<option value="5">Sports & Loisirs</option>
				</select>
				
				<div class="dropdown-container" id="achats-dropdown">
					<input type="radio" id="achats" name="achats-ventes" value="achats">
					<label for="achats">Achats <span class="dropdown-arrow">↓</span></label>
					
					<ul id="achats-liste" class="dropdown">
						<li>
							<input type="checkbox" name="encheres-en-cours" id="encheres-en-cours" value="encheres-en-cours" class="achats">
							<label for="encheres-en-cours">enchères ouvertes</label>
						</li>
						<li>
							<input type="checkbox" name="mes-encheres" id="mes-encheres" value="mes-encheres" class="achats">
							<label for="mes-encheres">mes enchères</label>
						</li>
						<li>
							<input type="checkbox" name="encheres-remportees" id="encheres-remportees" value="encheres-remportees" class="achats">
							<label for="encheres-remportees">mes enchères remportées</label>
						</li>
					</ul>
				</div>
				
				<div class="dropdown-container" id="ventes-dropdown">
					<input type="radio" id="ventes" name="achats-ventes" value="ventes">
					<label for="ventes">Mes ventes <span class="dropdown-arrow">↓</span></label>
					
					<ul id="ventes-liste" class="dropdown">
						<li>
							<input type="checkbox" name="ventes-en-cours" id="ventes-en-cours" value="ventes-en-cours" class="ventes">
							<label for="ventes-en-cours">ventes en cours</label>
						</li>
						<li>
							<input type="checkbox" name="ventes-en-attente" id="ventes-en-attente" value="ventes-en-attente" class="ventes">
							<label for="ventes-en-attente">ventes non débutées</label>
						</li>
						<li>
							<input type="checkbox" name="ventes-terminees" id="ventes-terminees" value="ventes-terminees" class="ventes">
							<label for="ventes-terminees">ventes terminées</label>
						</li>
					</ul>
				</div>
				
				<button type="submit">Rechercher</button>
			</form>
		
		<!--
		<ul class="articles">
			<li th:each="{e : ${encheres}">
				<div class="item-container">
					<img th:src="${e.src}" alt="${e.nomArticle}">
					<p th:text="${e.nomArticle}"></p>
					<p th:text="${e.description}"></p>
					<p th:text="Vendeur : ${e.utilisateur}"></p>
				</div>
			</li>
		</ul>
		-->
	</main>
	<script src="/scripts/filtres-connecte.js"></script>
</body>
</html>