<!DOCTYPE html>
<html>
<head th:insert="~{fragments/fragment-head :: head}">
	<title>Inscription</title>
	
</head>
<body>
	<header>
		<h1 id="nav-title">
			<a th:href="@{/}">ENI-Enchères</a>
		</h1>
	</header>
	<main>
		<h2>Créer un compte</h2>
		
		<form th:action="@{/inscription}" method="post">
			<ul>
			<div class="form-inscription">
				<label for="pseudo">Pseudo :</label>
				<input type="text" id="inputPseudo" th:field="*{pseudo}">
				
				<label for="nom">Nom :</label>
				<input type="text" id="inputNom" th:field="*{nom}"/>
				
				<label for="prenom">Prénom :</label>
				<input type="text" id="inputPrenom" th:field="*{prenom}">
				
				<label for="email">Email :</label>
				<input type="email" id="inputEmail" th:field="*{email}">
				
				<label for="telephone">Téléphone :</label>
				<input type="number" id="inputTelephone" th:field="*{telephone}">
				
				<label for="rue">Rue :</label>
				<input type="text" id="inputRue" th:field="*{rue}">
				
				<label for="codePostal">Code postal :</label>
				<input type="number" id="inputCodePostal" th:field="*{codePostal}">
				
				<label for="ville">Ville :</label>
				<input type="text" id="inputVille" th:field="*{ville}
				
				<label for="password1">Mot de passe :</label>
				<input type="password" id="inputPassword" th:field="*{password}">
				
				<label for="password2">Confirmation :</label>
				<input type="password2" id="inputPassword2" th:field="*{password2}">
			</div>

			<div class="form-buttons">
				<button type="submit">Créer</button>
				<a class="button" th:href="@{/connexion}">Annuler</a>
			</div>
			</ul>

			<button type="submit">Créer</button>
		</form>
		<form th:action="@{/}" method="get">
			<button type="submit" th:href="@{/}">Annuler</button>

		</form>
	</main>
</body>
</html>