<!DOCTYPE html>
<html>
<head th:insert="~{fragments/fragment-head :: head}">
<title>ENI Enchères</title>
</head>
<body>
	<header>
		<h1 id="nav-title">
			<a th:href="@{/}">ENI-Enchères</a>
		</h1>
	</header>
	<main>
		<h2>Pseudo</h2>
		
		<form th:action="@{/profil}" method="post">
			<div class="form-profil">
				<label for="pseudo">Pseudo :</label>
				<input type="text" name="pseudo" id="pseudo">
				
				<label for="nom">Nom :</label>
				<input type="text" name="nom" id="nom">
				
				<label for="prenom">Prénom :</label>
				<input type="text" name="prenom" id="prenom">
				
				<label for="email">Email :</label>
				<input type="email" name="email" id="email">
				
				<label for="telephone">Téléphone :</label>
				<input type="text" name="telephone" id="telephone">
				
				<label for="rue">Rue :</label>
				<input type="text" name="rue" id="rue">
				
				<label for="codePostal">Code postal :</label>
				<input type="text" name="codePostal" id="codePostal">
				
				<label for="ville">Ville :</label>
				<input type="text" name="ville" id="ville">
				
			</div>
			<div class="form-buttons">
				<button @href="@{/modifierProfil}">Modifier</button>
					
			</div>
		</form>
	</main>
</body>
</html>