<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{fragments/fragment-head :: head}"></th:block>
    <title>Vendre un Article</title>
</head>
<body>
    <header th:replace="~{fragments/fragment-header :: header}"></header>
    <main>
        <h2>Nouvelle vente</h2>
        <form th:action="@{/articleEnVente}" th:object="${article}" method="post" enctype="multipart/form-data">
                <div>
                    <img th:if="${article.photoArticle != null}" th:src="@{'/images/' + ${article.photoArticle}}" th:alt="${article.nomArticle}" />
                </div>
                <div>
                    <label for="fileUpload">Photo de l'article :</label>
                    <input type="file" id="fileUpload" name="file" />
                </div>
                <div>
                    <label for="inputTitle">Article : </label>
                    <input type="text" id="inputTitle" th:field="*{nomArticle}" />
                </div>
                <div>
                    <label for="idCategorie">Catégorie :</label>
                    <select th:field="*{categorie.idCategorie}" id="idCategorie">
                        <option th:each="c : ${categoriesEnSession}" th:value="${c.idCategorie}" th:text="${c.libelle}"></option>
                    </select>
                </div>
                <div>
                    <label for="description">Description : </label>
                    <textarea id="description" rows="3" th:field="*{descriptions}"></textarea>
                </div>
                <div>
                    <label for="inputPrix">Enchère de Départ :</label>
                    <input type="number" id="inputPrix" th:field="*{miseAPrix}" />
                </div>
                <div>
                    <label for="sellPrix">Prix d'Achat :</label>
                    <input type="number" id="sellPrix" th:field="*{prixVente}" />
                </div>
                <div>
                    <label for="enchèreDébut">Début de l'enchère :</label>
                    <input type="datetime-local" id="enchèreDébut" th:field="*{parsedDateDebut}" />
                </div>
                <div>
                    <label for="enchèreFin">Fin de l'enchère :</label>
                    <input type="datetime-local" id="enchèreFin"  th:field="*{parsedDateFin}"  />
                </div>
                <div>
                    <h3>Retrait</h3>
                    <label for="Rue">Rue : </label>
                    <input type="text" id="Rue" th:field="*{retrait.rue}" />
                    <label for="codePostal">Code Postal : </label>
                    <input type="text" id="codePostal" th:field="*{retrait.codePostal}"  />
                    <label for="ville">Ville : </label>
                    <input type="text" id="ville" th:field="*{retrait.ville}"  />
                </div>
                <div>
                    <button type="submit">Enregistrer</button>
                    <a class="button-retour" th:href="@{/}">Retour</a>
                </div>
                <input type="hidden" id="idArticle" th:field="*{idArticle}" />

        </form>
    </main>
</body>
</html>
